<div class="container header">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><button  class="btn" [routerLink]="['home']" [routerLinkActive]="['active']" >Home</button></li>
        <li class="nav-item"><button  class="btn">Features</button></li>
        <li class="nav-item"><button  class="btn">Pricing</button></li>
        <li class="nav-item"><button  class="btn" [routerLink]="['signup']" [routerLinkActive]="['active']">Sign Up</button></li>
        <li class="nav-item"><button  class="btn">About</button></li>
      </ul>
    </header>
</div>