<div class="container-fluid header bg-a2">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><button  class="btn btn-a2 mx-2" [routerLink]="['home']" [routerLinkActive]="['active']" >Home</button></li>
        <li class="nav-item"><button  class="btn btn-a2 mx-2">Features</button></li>
        <li class="nav-item"><button  class="btn btn-a2 mx-2">Pricing</button></li>
        <li class="nav-item"><button  class="btn btn-a2 mx-2" [routerLink]="['signup']" [routerLinkActive]="['active']">Sign Up</button></li>
        <li class="nav-item"><button  class="btn btn-a2 mx-2">About</button></li>
      </ul>
    </header>
</div>
