<div class="d-flex justify-content-center align-items-center h-100 my-2">
  <div class="border rounded-2 py-4 px-4 w-50 bg-a4">

    <!-- We're working on a standalone component so we have to import reactiveformsmodule to use it -->
    <form [formGroup]="mainForm" (ngSubmit)="submit()" >

      <!-- First Name -->
      <div class="mb-3">
        <label for="fname" class="form-label">First Name</label>
        <input type="text" class="form-control" id="fname" formControlName="firstName">
      </div>

      <!-- Last Name -->
      <div class="mb-3">
        <label for="lname" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="lname" formControlName="lastName">
      </div>

      <!-- Email -->
      <div class="mb-3">
        <label for="emailInput" class="form-label">Email</label>
        <input type="email" class="form-control" id="emailInput" formControlName="emailAddress">
      </div>

      <!-- Password -->
      <div class="mb-3">
        <label for="passwordinput" class="form-label">Password</label>
        <input type="password" class="form-control" id="passwordinput" formControlName="password">
      </div>

      <!-- Phones (Form Array) -->
      <div formArrayName="phones" id="FormArrayContainer" class="px-2 py-2">
        <ng-container *ngFor="let item of Phones.controls; let i = index">
          <label for="phoneInput" class="form-label">Phone {{i}}</label>
          <input type="number" class="form-control" id="phoneInput" formControlName="{{i}}">
        </ng-container>
      </div>
      <button type="button" class="btn btn-a3 my-1" (click)="addPhone()">New Phone</button>

      <!-- Agree to Policy -->
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input text-a2 bg-a3 " id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Policy Agreement</label>
      </div>

      <button type="submit" class="btn btn-a3 py-3 w-50">Submit</button>

    </form>
  </div>
</div>