<footer class="py-3 footer container-fluid bg-a2">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 link-a5">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 link-a5">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 link-a5">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 link-a5">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 link-a5">About</a></li>
    </ul>
    <p class="text-center link-c4">© 2023 Company, Inc</p>
  </footer>